body {
  background-color: #0D0D13;
  color: silver;
  padding: 40px 0px;
}

h1 {
  font-size: 28px;
}

h5 {
  margin: 16px 0px 0px 16px;
  font-size: 16px;
  opacity: 0.8;
}

a {
  color: grey;
  font-size: 12px;
}

a:hover {
  color: silver;
  text-decoration: none;
  cursor: pointer;
}

.header-labels {
  color: grey;
  font-size: 12px;
  height: 17px;
}

.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.selection-wrapper {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.grid-wrapper {
  padding: 30px 24px;
}

.chart-wrapper {
  padding: 12px 11px;
}

.chart-inner {
  height: 100%;
  background-color: #191a24;
  border-radius: 10px;
  overflow: hidden;
  padding: 1px 12px 2px 1px;
  -webkit-user-select: none;
  /* Safari */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE10+/Edge */
  user-select: none;
  /* Standard */
}

.donut-chart {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 22px 0px 20px 10px;
  opacity: 0.9;
}

.chart-label {
  font-size: 11px;
  font-weight: 300;
  opacity: 0.6;
  margin: 2px 0px 2px 16px;
}

#grid .apexcharts-tooltip {
  color: dimgrey;
}

#grid .donut-chart .apexcharts-tooltip {
  color: gainsboro;
}